/* The correct order is font:font-style | font-variant | font-weight | font-size | line-height | font-family */

body {
/* Colors found from http://meyerweb.com/eric/css/colors/ */
	background-color: hsl(120,73.4%,74.9%);
	font-family: "Revalia", Arial, Verdana, sans-serif;
	font-size: 13.5px;
}
/* I would have combined each of the headers into one, however, different font-sizes */
h1 {
	background-color: forestgreen;
	font-family: 'Audiowide', cursive;
	font-size: 3.0em;
	height: 1em;
	color: white;
	text-align: center;
}

/* Info going to be used for next assignment */
/* 
#contentinfo {
	width: 50%;
	margin: auto;
}
 */

h2 {
	background-color: forestgreen;
	font-family: 'Diplomata', cursive;
	font-size: 2.75em;
	color: #2e2e2e;
	text-align: center;	
}

h3 {
	background-color: forestgreen;
	font-family: 'Diplomata', cursive;
	font-size: 2.5em;
	color: rgba(46, 46, 46, 1);
	text-align: center;
}

h4 {
	background-color: forestgreen;
	font-family: 'Diplomata', cursive;
	font-size:2.25em;
	color: rgb(46,46,46);
	text-align: center;
}

p {
	text-align: justify;
	color: #black;
}

ol {
	color: rgb(25,25,112);
}

ul{
	color: rgb(25,25,112);
}

table {
	width: 800px;
}

th {
	background-color: hsl(210,12.6%,50.2%);
	letter-spacing: 0.1em;
	color: white;
}

/* link */
a:link {
	color: rgb(25,25,112);
	text-decoration: none;
}
/* Visited link */
a:visited {
	color:;
}
/* When hovering over links */
a:hover {
	color: black;
	text-decoration: underline;
	text-shadow: 1px 1px 0px #000000;
}
/* active link */
a:active {
	color:
	text-decoration: underline;
}

em {
	color: grey;
}
/* Started setting up tables */
.score, .name, definition, .country, .coursenum, .percent {
	text-align: center;
}

.article {
	text-align: center;
}

#wikilink {
	text-align: center;
}