body {
	font-family: Arial, Verdana, sans-serif;
	font-size: 16px;
	font-align: justify;
}


h1 {
	font-size: 2.0em;
	color: black;
}

h2 {
	font-size: 1.75em;
	color: grey;

}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size:1.25em;
}

p {
	color: #black;
}	

strong {
	color: red;
}

em {
	color: grey;
}

.score {
	text-align: center;
}

.name {
	text-align: center;
}

.definition {
	text-align: center;
}

.country {
	text-align: center;
}

.coursenum {
	text-align: center;
}

.percent {
	text-align: center;
}